<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Explore Bohol
        link(href="https://use.fontawesome.com/releases/v5.0.8/css/all.css", rel="stylesheet")
        link(href="../css/styles.css", rel="stylesheet")
        script.
            window.onscroll = function () {
    myFunction()
};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
    if (window.pageYOffset >= sticky) {
        header.classList.add("sticky");
    } else {
        header.classList.remove("sticky");
    }
}
    body
        //- HERO   
        .hero
            .hero-component
                .hero-logo
                ul.hero-nav-day.h4
                    li
                        a(href="#") Countryside
                    li
                        a(href="#") Panglao
                    li
                        a(href="#") Dolphin watching & Island Hopping
                    li
                        a(href="#") Danao
                    li
                        a(href="#") Anda
                    li
                        a(href="#") Jardin Necitas
                ul.hero-nav-normal
                    li
                        a(href="#") Tour rates
                    li
                        a(href="#") Package rates
                    li
                        a(href="#") Transport rentals
                    li
                        a(href="#") Testimonial
                    li
                        a(href="#") About us
                    li
                        a(href="#") Legalities
                p.hero-contact (038) 411 1867  -  (Sun) 0933 486 5197  -  (Globe) 0995 499 1981  -  george.garcia@expbohol.com
        .main-section
            //- left-panel
            .left-panel
                nav.header#myHeader
                    ul
                        li
                            .nav-logo
                            p.nav-contact (SUN) 0933 486 5197  / (GLOBE)  0995 499 1981
                        li
                            a.bold(href="#") Day Tour
                        li
                            a(href="#") Countryside Tour
                        li
                            a(href="#") Panglao Tour
                        li
                            a(href="#") Dolphin Watching & Island hopping
                        li
                            a(href="#") Danao Tour
                        li
                            a(href="#") Anda Tour
                        li
                            a(href="#") Jardin Necitas Tour
                        li
                            a.bold(href="#") Rates & Inclusion
                        li
                            a(href="#") Day Tour Rates
                        li
                            a(href="#") Package Tour Rates
                        li
                            a.bold(href="#") Transport Rentals
                        li
                            a.bold(href="#") Testimonial

            //- right-panel===========================================
            .right-panel
                //- countryside
                .row-day-tour
                    .tour-info
                        h3.tour-header Countryside Tour Destinations
                        hr
                        p.tour-description
                            | Explore the natural and cultural wonders of Bohol with our Countryside Tour package. You will experience several hours of fun and enjoyment visiting Bohol’s famous tourist spots such as the Chocolate Hills (nominated as one of the natural wonders of the world), Tarsier Sanctuary (home of the world’s smallest primate), Loboc River (where you can enjoy a scenic river cruise), Blood Compact Shrine (exact spot of the first treaty between the Spaniards and the Filipinos), and many more.
                        
                        .destination-nav
                            .previous
                                i.fas.fa-angle-left
                            .next
                                i.fas.fa-angle-right
                    .destination-wrap
                        //- chocolote hills
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Chocolate Hills
                                    p.counter
                                        | #[span.counter-current 01]/09
                                p.destination-desc
                                    | Behold the marvel of the wold renowned Chocolate Hills. Considered as one of the natural wonders of the world, it is nature's expression of beauty. At least 1,260 hills are spread over 3 municipalities.
                        //- man-made forrest
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Man-made Forest
                                    p.counter
                                        | #[span.counter-current 02]/09
                                p.destination-desc
                                    | As the name suggests, the forest in Bilar is a 2 kilometer stretch of densely man-planted mahogany trees.
                        //- tarsier sanctuary
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Tarsier Sanctuary
                                    p.counter
                                        | #[span.counter-current 03]/09
                                p.destination-desc
                                    | Meet and greet your relatives here in Bohol. I mean with the world's smallest primate at a tarsier sanctuary. It is considered as one of the endangered species.
                        //- loboc floating restaurant
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Lobo Floating Restaurant
                                    p.counter
                                        | #[span.counter-current 04]/09
                                p.destination-desc
                                    | Have your fullfiling buffet lunch aboard floating restuarants cruising the emerald green Loboc river. Experience song and dance numbers from locals performing from the river banks.
                        //- blood compact shrine
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Blood Compact Shrine
                                    p.counter
                                        | #[span.counter-current 05]/09
                                p.destination-desc
                                    | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                        //- baclayon church
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Baclayon Church
                                    p.counter
                                        | #[span.counter-current 06]/09
                                p.destination-desc
                                    | One of the oldest churches in the Philippines, even considered to be the second oldest stone church in the country. Learn interesting facts and history when you visit this spot.
                        //- hanging bridge
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Hanging Bridge
                                    p.counter
                                        | #[span.counter-current 07]/09
                                p.destination-desc
                                    | Brave the bridge! Experience walking on a hanging bridge that connects terrains accross the river.
                        //- butterfly garden
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Butterfly Garden
                                    p.counter
                                        | #[span.counter-current 08]/09
                                p.destination-desc
                                    | Find hundreds of beautiful butterflies in a conservation center in the town of Bilar.
                        //- souvenir shop
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Souvenir Shop
                                    p.counter
                                        | #[span.counter-current /09]/09
                                p.destination-desc
                                    | Bring Bohol to your loved ones and friends. We will take you to where you can buy souvenir items at reasonable prices.
                //- panglao
                .row-day-tour
                    .tour-info
                        h3.tour-header Panglao Tour Destinations
                        hr
                        p.tour-description
                            | Panglao Island is not only known for its white sand beaches, but also for its old Spanish-era churches and other nature attractions such as the Bohol Bee Farm and the Hinagdanan Cave. Our Panglao Island Tour takes you to a tour around the island visiting the Bohol Bee Farm (where you can eat organic and all-natural food), Hinagdanan Cave (with its greenish-blue colors), the Shell Museum (where numerous shell specimens are collected), among others. Of course, the tour won’t be complete without a visit to one of Panglao’s beach resorts.
                        
                        .destination-nav
                            .previous
                                i.fas.fa-angle-left
                            .next
                                i.fas.fa-angle-right
                    .destination-wrap
                        //- Hinagdanan Cave
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Hinagdanan Cave
                                    p.counter
                                        | #[span.counter-current 01]/06
                                p.destination-desc
                                    | Another nature's wonder is Hinagdanan cave, an underground cave made of limestones and consists of beautiful rock formations. Wonder what stalactites and stalamites are? Then discover them here.
                        //- Bohol Bee Farm
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Bohol Bee Farm
                                    p.counter
                                        | #[span.counter-current 02]/06
                                p.destination-desc
                                    | Enjoy nature's bounty of honey producing bees, organically grown vegetables, colorful local flowers, in a one of a kind homey experience all in this farm. Don't miss having your lunch in this place. You'll never regret!
                        //- Shell Museum
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Shell Museum
                                    p.counter
                                        | #[span.counter-current 03]/06
                                p.destination-desc
                                    | Be fascinated by a unique collection of seashells in this museum. Owned by a local who has been very passionate about collecting shells for 30 years, the museum has now become one of the biggest collection of shells in the world.
                        //- Dauis Church
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Dauis Church
                                    p.counter
                                        | #[span.counter-current 04]/06
                                p.destination-desc
                                    | Another beautiful church in Bohol is the Church of Our Lady of the Assumption in Dauis, on the Island of Panglao. It is located not far from the bridge that connects Panglao with Bohol. The church was founded by the Jesuits Fr. Diego de Ayala and Joseph Gregorio. The church is build in a mixture of styles, influenced by both Byzantine and Romanesque architecture. Inside, on the ceiling, are some impressive frescoes painted Ray Francia in 1916. Lito Arraya renovated the building in 1970.
                        //- Panglao Church
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Panglao Church
                                    p.counter
                                        | #[span.counter-current 05]/06
                                p.destination-desc
                                    | The church of Panglao is located on the south-western side of Panglao Island, 18 kilometers from Tagbilaran. The church is noteworthy because of its twin antique confessionals carved with grape and dove patterns. Its ceiling murals depict the sacraments.
                        //- Alona Beach
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Alona Beach
                                    p.counter
                                        | #[span.counter-current 06]/06
                                p.destination-desc
                                    | One just can't miss the alluring white sandy beaches in Panglao. It boasts of it's fine powdery sand and crystal clear waters.
                //- Dolpin Island Hop
                .row-day-tour
                    .tour-info
                        h3.tour-header Dolphin Watching & Island Hopping Destinations
                        hr
                        p.tour-description
                            | Meet the playful dolphins of Balicasag Island, go snorkeling to discover the underwater wonders of Bohol, or just enjoy the pristine natural beauty of the Virgin Island. All these and more can now be experienced through our Island Hopping and Dolphin Watching Tour. 
                            br
                            br
                            | First, we’ll take you to Balicasag Island and on the way, you will see the playful dolphins jumping around you. Our expert spotters will help you catch a glimpse of these wonderful marine creatures. After that, you will spend your time swimming or snorkeling to explore the rich and diverse marine life of the island. Then we will take you to the fascinating Virgin Island. This is a trip you shouldn’t miss!
                        
                        .destination-nav
                            .previous
                                i.fas.fa-angle-left
                            .next
                                i.fas.fa-angle-right
                    .destination-wrap
                        //- Dolphin Watching
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Dolphin Watching
                                    p.counter
                                        | #[span.counter-current 01]/03
                                p.destination-desc
                                    | Watch playful dolphins swimming Panglao waters as you sail aboard a motorized boat as you go island hopping.
                        //- Balicasag Island Snorkeling
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Balicasag Island Snorkeling
                                    p.counter
                                        | #[span.counter-current 02]/03
                                p.destination-desc
                                    | Meet Nemo, Dory and friends when you snorkel the clear waters in this island. You amy also opt to scuba dive for a more wonderful experience.
                        //- Virgin Island
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Virgin Island
                                    p.counter
                                        | #[span.counter-current 03]/03
                                p.destination-desc
                                    | A beautiful white powdery sand bar will simply take your breath away.
                //- Danao
                .row-day-tour
                    .tour-info
                        h3.tour-header Danao Tour Destinations
                        hr
                        p.tour-description
                            | If you love extreme adventure, then you must try our Danao Extreme Adventure Tour package. Enjoy challenging and adrenaline-pumping activities such as suislide (zip lining), rappelling, sky rides, caving, root climbing, wall climbing, bouldering, river kayaking, river tubing, and many more. This is definitely not for the faint of heart!                    
                        //- .destination-nav
                        //-     .previous
                        //-         i.fas.fa-angle-left
                        //-     .next
                        //-         i.fas.fa-angle-right
                    .destination-wrap
                        //- Danao EAT
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Danao Adventure Park
                                    p.counter
                                        | #[span.counter-current 01]/01
                                p.destination-desc
                                    | If you love extreme adventure, then you must try our Danao Extreme Adventure Tour package. Enjoy challenging and adrenaline-pumping activities such as suislide (zip lining), rappelling, sky rides, caving, root climbing, wall climbing, bouldering, river kayaking, river tubing, and many more. This is definitely not for the faint of heart!
                //- Anda-Candijay Adventure
                .row-day-tour
                    .tour-info
                        h3.tour-header Anda-Candijay Adventure Destination
                        hr
                        p.tour-description
                            | If you love extreme adventure, then you must try our Danao Extreme Adventure Tour package. Enjoy challenging and adrenaline-pumping activities such as suislide (zip lining), rappelling, sky rides, caving, root climbing, wall climbing, bouldering, river kayaking, river tubing, and many more. This is definitely not for the faint of heart!                    
                        //- .destination-nav
                        //-     .previous
                        //-         i.fas.fa-angle-left
                        //-     .next
                        //-         i.fas.fa-angle-right
                    .destination-wrap
                        //- Anda-Candijay Adventure
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Anda-Candijay Adventure
                                    p.counter
                                        | #[span.counter-current 01]/01
                                p.destination-desc
                                    | If you love extreme adventure, then you must try our Danao Extreme Adventure Tour package. Enjoy challenging and adrenaline-pumping activities such as suislide (zip lining), rappelling, sky rides, caving, root climbing, wall climbing, bouldering, river kayaking, river tubing, and many more. This is definitely not for the faint of heart!
                //- Jardin Necitas
                .row-day-tour
                    .tour-info
                        h3.tour-header Jardin Necitas Tour Destinations
                        hr
                        p.tour-description
                            | Jardin Necitas in Pilar, Bohol is the newest tourist spot in the Province of Bohol. A garden of illuminated LED flowers cascading around a hill with a breathtaking view. The synthetic flowers are planted on the ground in carefully arranged rows.When the power is turned on, they are turn into glowing field of flowers which creates like a paradise.                   
                        //- .destination-nav
                        //-     .previous
                        //-         i.fas.fa-angle-left
                        //-     .next
                        //-         i.fas.fa-angle-right
                    .destination-wrap
                        //- Jardin Necitas
                        .destination
                            .img-holder
                            .destination-info
                                .destination-title
                                    h4.title-txt Jardin Necitas
                                    p.counter
                                        | #[span.counter-current 01]/01
                                p.destination-desc
                                    | This is only an additional spot to your itinerary. Jardin Necitas may be added during Countryside Tour or any land tour we offer.  
                //- rates
                //- day tour rates
                .tour-rates
                    p Tour Destination
                    select#tour-cmb
                        option(value="countryside") Countryside tour
                        option(value="panglao") Panglao tour
                        option(value="dolphin",selected) Dolphin watching & Island Hopping
                        option(value="danao") Danao tour
                        option(value="anda") Anda Adventure tour
                        option(value="jardin") Jardin Necitas tour
                    .tour-rates-info
                        h3.txt-center Countryside tour
                        table.tour-rates-per-pax
                            tr
                                td.tour-transport-bracket(colspan="2")
                                    h4 Sedan
                            tr
                                th No. of person
                                th Rates per person
                            tr.hover
                                td 1
                                td Php 3,750
                            tr.hover
                                td 2
                                td Php 3,750
                            tr.hover
                                td 3
                                td Php 3,750

                            tr 
                                td.tour-transport-bracket(colspan="2")
                                    h4 MPV #[span (Multiple Purpose Vehicle)]
                            tr
                                th No. of person
                                th Rates per person
                            tr.hover
                                td 4
                                td Php 3,750
                            tr.hover
                                td 5
                                td Php 3,750

                            tr
                                td.tour-transport-bracket(colspan="2")
                                    h4 Van
                            tr
                                th No. of person
                                th Rates per person
                            tr.hover
                                td 6
                                td Php 3,750
                            tr.hover
                                td 7
                                td Php 3,750
                            tr.hover
                                td 8
                                td Php 3,750
                            tr.hover
                                td 9
                                td Php 3,750
                            tr.hover
                                td 10
                                td Php 3,750
                            tr.hover
                                td 11
                                td Php 3,750
                            tr.hover
                                td 12
                                td Php 3,750

                            tr
                                td.tour-transport-bracket(colspan="2")
                                    h4 Coaster
                            tr
                                th No. of person
                                th Rates per person
                            tr.hover
                                td 13
                                td Php 3,750
                            tr.hover
                                td 14
                                td Php 3,750
                        p.txt-center More than 14 person please contact us for qoutation
                        .btn-book
                            button.h3 Book Now!
                        table.tour-notes
                            tr
                                td.tour-notes-labels.bold Inclusion:
                                td
                                    ul.tour-notes-list
                                        li Roundtrip Airport, Seaport, and Accommodation Transfer
                                        li Driver that will serve as your guide
                                            br
                                            |(DOT tour guide is available upon request)
                                        li Fuel / Entrance Fees
                                        li Buffet Lunch ( Loboc/Loay River Cruise)
                            tr
                                td.tour-notes-labels.bold Optional Activities:
                                td
                                    ul.tour-notes-list
                                        li ATV Guided Tour in Chocolate Hills
                                        li Python Sanctuary
                                        li Chocolate Hills Adventure Park
                                        li Jardin Necitas
                                        li Loboc Eco-Tourism Adventure Park
                                            br
                                            | and many more.
                //- package tour
                .tour-rates
                    p Choose your package
                    select#tour-pckge-cmb
                        option(disabled) Overnight Packge / 2 Days & 1 Night
                        option(value="ovr-nght-country") Countryside Tour
                        option(value="ovr-nght-panglao") Countryside & Panglao Tour
                        option(value="ovr-nght-country-island") Countryside & Island Hopping
                        option(value="ovr-nght-country-panglao-island") Countryside, Panglao, Island Hopping
                        option(disabled) 3 Days and 2 Nights
                        option(value="danao") Danao tour
                        option(value="anda") Anda Adventure tour
                        option(value="jardin") Jardin Necitas tour
                    p Package Category
                    form#tour-pckge-radio
                        label
                            input(type="radio", id="pckge-budget", name="pck-category", checked)
                            p.category-label Budget
                        label
                            input(type="radio", id="pckge-standard", name="pck-category")
                            p.category-label Standard
                        label
                            input(type="radio", id="pckge-mid", name="pck-category") 
                            p.category-label Mid
                        label
                            input(type="radio", id="pckge-hi-end", name="pck-category")
                            p.category-label Hi-end
                    .tour-rates-info
                        h3.txt-center Countryside tour
                        table.tour-rates-per-pax
                            tr
                                td.tour-transport-bracket(colspan="2")
                                    h4 Sedan
                            tr
                                th No. of person
                                th Rates per person
                            tr.hover
                                td 1
                                td Php 3,750
                            tr.hover
                                td 2
                                td Php 3,750
                            tr.hover
                                td 3
                                td Php 3,750

                            tr 
                                td.tour-transport-bracket(colspan="2")
                                    h4 MPV #[span (Multiple Purpose Vehicle)]
                            tr
                                th No. of person
                                th Rates per person
                            tr.hover
                                td 4
                                td Php 3,750
                            tr.hover
                                td 5
                                td Php 3,750

                            tr
                                td.tour-transport-bracket(colspan="2")
                                    h4 Van
                            tr
                                th No. of person
                                th Rates per person
                            tr.hover
                                td 6
                                td Php 3,750
                            tr.hover
                                td 7
                                td Php 3,750
                            tr.hover
                                td 8
                                td Php 3,750
                            tr.hover
                                td 9
                                td Php 3,750
                            tr.hover
                                td 10
                                td Php 3,750
                            tr.hover
                                td 11
                                td Php 3,750
                            tr.hover
                                td 12
                                td Php 3,750

                            tr
                                td.tour-transport-bracket(colspan="2")
                                    h4 Coaster
                            tr
                                th No. of person
                                th Rates per person
                            tr.hover
                                td 13
                                td Php 3,750
                            tr.hover
                                td 14
                                td Php 3,750
                        p.txt-center More than 14 person please contact us for qoutation
                        .btn-book
                            button.h3 Book Now!
                        table.tour-notes
                            tr
                                td.tour-notes-labels.bold Inclusion:
                                td
                                    ul.tour-notes-list
                                        li Roundtrip Airport, Seaport, and Accommodation Transfer
                                        li Driver that will serve as your guide
                                            br
                                            |(DOT tour guide is available upon request)
                                        li Fuel / Entrance Fees
                                        li Buffet Lunch ( Loboc/Loay River Cruise)
                            tr
                                td.tour-notes-labels.bold Optional Activities:
                                td
                                    ul.tour-notes-list
                                        li ATV Guided Tour in Chocolate Hills
                                        li Python Sanctuary
                                        li Chocolate Hills Adventure Park
                                        li Jardin Necitas
                                        li Loboc Eco-Tourism Adventure Park
                                            br
                                            | and many more.       