<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Explore Bohol
        link(href="https://use.fontawesome.com/releases/v5.0.8/css/all.css", rel="stylesheet")
        link(href="../css/styles.css", rel="stylesheet")
    body
        .rowDayTour.section1
            .dayTour-intro
                h3.dayTour-header.countryside Countryside Tour Destinations
                hr
                p.dayTour-desc
                    | Explore the natural and cultural wonders of Bohol with our Countryside Tour package. You will experience several hours of fun and enjoyment visiting Bohol’s famous tourist spots such as the Chocolate Hills (nominated as one of the natural wonders of the world), Tarsier Sanctuary (home of the world’s smallest primate), Loboc River (where you can enjoy a scenic river cruise), Blood Compact Shrine (exact spot of the first treaty between the Spaniards and the Filipinos), and many more.
                .cardNav
                    .prev-card
                        i.fas.fa-angle-left
                    .next-card
                        i.fas.fa-angle-right
            .cardDesti-wrap
                .cardDesti.loboc-river
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Loboc Floating Restaurant
                            p.counter
                                | #[span.counterNow 01]/10
                        p.desti-desc
                            | Have your fullfiling buffet lunch aboard floating restuarants cruising the emerald green Loboc river. Experience song and dance numbers from locals performing from the river banks. 
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
        .rowDayTour.section2
            .dayTour-intro
                h3.dayTour-header.panglao Panglao Tour Destinations
                hr
                p.dayTour-desc
                    | Panglao Island is not only known for its white sand beaches, but also for its old Spanish-era churches and other nature attractions such as the Bohol Bee Farm and the Hinagdanan Cave. Our Panglao Island Tour takes you to a tour around the island visiting the Bohol Bee Farm (where you can eat organic and all-natural food), Hinagdanan Cave (with its greenish-blue colors), the Shell Museum (where numerous shell specimens are collected), among others. Of course, the tour won’t be complete without a visit to one of Panglao’s beach resorts.
                .cardNav
                    .prev-card
                        i.fas.fa-angle-left
                    .next-card
                        i.fas.fa-angle-right 
            .cardDesti-wrap
                .cardDesti.loboc-river
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Loboc Floating Restaurant
                            p.counter
                                | #[span.counterNow 01]/10
                        p.desti-desc
                            | Have your fullfiling buffet lunch aboard floating restuarants cruising the emerald green Loboc river. Experience song and dance numbers from locals performing from the river banks. 
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
        .rowDayTour.section3
            .dayTour-intro
                h3.dayTour-header.dolphin Dolphin Watching & Island Hopping Destinations
                hr
                p.dayTour-desc
                    | Meet the playful dolphins of Balicasag Island, go snorkeling to discover the underwater wonders of Bohol, or just enjoy the pristine natural beauty of the Virgin Island. All these and more can now be experienced through our Island Hopping and Dolphin Watching Tour.
                    br
                    br
                    | First, we’ll take you to Balicasag Island and on the way, you will see the playful dolphins jumping around you. Our expert spotters will help you catch a glimpse of these wonderful marine creatures. After that, you will spend your time swimming or snorkeling to explore the rich and diverse marine life of the island. Then we will take you to the fascinating Virgin Island. This is a trip you shouldn’t miss!

                .cardNav
                    .prev-card
                        i.fas.fa-angle-left
                    .next-card
                        i.fas.fa-angle-right
            .cardDesti-wrap
                .cardDesti.loboc-river
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Loboc Floating Restaurant
                            p.counter
                                | #[span.counterNow 01]/10
                        p.desti-desc
                            | Have your fullfiling buffet lunch aboard floating restuarants cruising the emerald green Loboc river. Experience song and dance numbers from locals performing from the river banks. 
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
        .rowDayTour.section4
            .dayTour-intro
                h3.dayTour-header.danao Danao Tour Destinations
                hr
                p.dayTour-desc
                    | If you love extreme adventure, then you must try our Danao Extreme Adventure Tour package. Enjoy challenging and adrenaline-pumping activities such as suislide (zip lining), rappelling, sky rides, caving, root climbing, wall climbing, bouldering, river kayaking, river tubing, and many more. This is definitely not for the faint of heart
                .cardNav
                    .prev-card
                        i.fas.fa-angle-left
                    .next-card
                        i.fas.fa-angle-right
            .cardDesti-wrap
                .cardDesti.loboc-river
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Loboc Floating Restaurant
                            p.counter
                                | #[span.counterNow 01]/10
                        p.desti-desc
                            | Have your fullfiling buffet lunch aboard floating restuarants cruising the emerald green Loboc river. Experience song and dance numbers from locals performing from the river banks. 
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
        .rowDayTour.section5
            .dayTour-intro
                h3.dayTour-header.anda Anda Adventure Tour Destinations
                hr
                p.dayTour-desc
                    | If you love extreme adventure, then you must try our Danao Extreme Adventure Tour package. Enjoy challenging and adrenaline-pumping activities such as suislide (zip lining), rappelling, sky rides, caving, root climbing, wall climbing, bouldering, river kayaking, river tubing, and many more. This is definitely not for the faint of heart
                .cardNav
                    .prev-card
                        i.fas.fa-angle-left
                    .next-card
                        i.fas.fa-angle-right 
            .cardDesti-wrap
                .cardDesti.loboc-river
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Loboc Floating Restaurant
                            p.counter
                                | #[span.counterNow 01]/10
                        p.desti-desc
                            | Have your fullfiling buffet lunch aboard floating restuarants cruising the emerald green Loboc river. Experience song and dance numbers from locals performing from the river banks. 
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
        .rowDayTour.section6
            .dayTour-intro
                h3.dayTour-header.jardin Jarding Necitas Tour Destinations
                hr
                p.dayTour-desc
                    | If you love extreme adventure, then you must try our Danao Extreme Adventure Tour package. Enjoy challenging and adrenaline-pumping activities such as suislide (zip lining), rappelling, sky rides, caving, root climbing, wall climbing, bouldering, river kayaking, river tubing, and many more. This is definitely not for the faint of heart
                .cardNav
                    .prev-card
                        i.fas.fa-angle-left
                    .next-card
                        i.fas.fa-angle-right 
            .cardDesti-wrap
                .cardDesti.loboc-river
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Loboc Floating Restaurant
                            p.counter
                                | #[span.counterNow 01]/10
                        p.desti-desc
                            | Have your fullfiling buffet lunch aboard floating restuarants cruising the emerald green Loboc river. Experience song and dance numbers from locals performing from the river banks. 
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
                .cardDesti.blood-compact
                    .imgHolder
                    .desti-cont
                        .desti-title
                            h4.title-txt Blood Compact Shrine
                            p.counter
                                | #[span.counterNow 02]/10
                        p.desti-desc
                            | The iconic statue of Bohol's cheiftain, Datu Sikatuna and Spain's Explorer Miguel Lopez De Legazpi, portrays the historic treaty of friendship between the Filipinos and the Spaniards. That's why Bohol's Capital, Tagbilaran City is called the City of Friendship.
        .inclusionRates-wrap
            p Tour Destination
            select
                option(value="countryside") Countryside tour
                option(value="panglao") Panglao tour
                option(value="dolphin",selected) Dolphin watching & Island Hopping
                option(value="danao") Danao tour
                option(value="anda") Anda Adventure tour
                option(value="jardin") Jardin Necitas tour
            .cardRates
                h3.center Countryside tour
                table.ratesWrap
                    tr
                        td.transpoCategory(colspan="2")
                            h4 Sedan
                    tr
                        td.label.left No. of person
                        td.label.right Rates per person
                    tr.hover
                        td.left 1
                        td.right Php 3,750
                    tr.hover
                        td.left 2
                        td.right Php 3,750
                    tr.hover
                        td.left 3
                        td.right Php 3,750

                    tr 
                        td.transpoCategory(colspan="2")
                            h4 MPV #[span (Multiple Purpose Vehicle)]
                    tr
                        td.label.left No. of person
                        td.label.right Rates per person
                    tr.hover
                        td.left 4
                        td.right Php 3,750
                    tr.hover
                        td.left 5
                        td.right Php 3,750

                    tr
                        td.transpoCategory(colspan="2")
                            h4 Van
                    tr
                        td.label.left No. of person
                        td.label.right Rates per person
                    tr.hover
                        td.left 6
                        td.right Php 3,750
                    tr.hover
                        td.left 7
                        td.right Php 3,750
                    tr.hover
                        td.left 8
                        td.right Php 3,750
                    tr.hover
                        td.left 9
                        td.right Php 3,750
                    tr.hover
                        td.left 10
                        td.right Php 3,750
                    tr.hover
                        td.left 11
                        td.right Php 3,750
                    tr.hover
                        td.left 12
                        td.rates.right Php 3,750

                    tr
                        td.transpoCategory(colspan="2")
                            h4 Coaster
                    tr
                        td.label.left No. of person
                        td.label.right Rates per person
                    tr.hover
                        td.left 13
                        td.rates.right Php 3,750
                    tr.hover
                        td.left 14
                        td.rates.right Php 3,750
                p.center More than 14 person please contact us for qoutation
                .btn-book
                    button.h3 Book Now!
                table.inclusionInfo
                    tr
                        td.left Inclusion:
                        td.right
                            ul
                                li Roundtrip Airport, Seaport, and Accommodation Transfer
                                li Driver that will serve as your guide
                                    br
                                    |(DOT tour guide is available upon request)
                                li Fuel / Entrance Fees
                                li Buffet Lunch ( Loboc/Loay River Cruise)
                    tr
                        td.left Optional Activities:
                        td.right
                            ul
                                li ATV Guided Tour in Chocolate Hills
                                li Python Sanctuary
                                li Chocolate Hills Adventure Park
                                li Jardin Necitas
                                li Loboc Eco-Tourism Adventure Park
                                    br
                                    | and many more.