* {
    font-family: 'fira sans', Helvetica, sans-serif;
    font-weight: 400;
    color: $lightGrey;
}

h1,h2,h3,h4,h5 {
    line-height: 1.2;
}

p, span, caption {
    line-height: 1.5;
    font-weight: 300;
}