.left-panel {
    // float: left;
    width: 300px;
    height: 100px;
    background-color: red;

}
.right-panel {
    float: left;
}

.row-day-tour {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 60px;
}
// TOUR CARDS
.tour-rates{
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}
.tour-info {
    display: inline-table;
    vertical-align: top;
    white-space: normal;
    margin-right: 30px;
    width: 250px;
}

.destination-nav {
    text-align: right;
}

.previous,
.next {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: $gold;
    i {
        @extend %centerPos
    }
}

.destination-wrap {
    display: inline-block;
    // width: 475px;
    padding: 10px 0;
}
.destination {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-right: 15px;
    width: 315px;
    background-color: $lightGrey;
    border-radius: 8px 8px;
    white-space: normal;
    @extend %dropShadow;
}

.img-holder {
    width: 100%;
    height: 257px;
    background-color: $darkGrey;
}

.destination-info {
    padding: 30px;
}

.destination-title {
    display: inline-table;
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;
}

.title-txt {
    display: table-cell;
    font-weight: 500;
    width: 60%;
}

.counter {
    display: table-cell;
    position: relative;
    text-align: right;
    vertical-align: bottom;
    width: 40%;
}

.counter-current {
    font-size: 16px;
    font-weight: 500;
}

.destination-desc {
    padding-top: 10px;
    border-top: thin $midGrey solid;
}

// RATES
.tour-rates-info {
    p, td, th, h3, button{
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    width: 351px;
    box-sizing: border-box;
    background-color: $lightGrey;
    border-radius: 16px;
    padding: 30px;
    margin-bottom: 5px;
    h3 {
        padding: 15px 0;
    }
}
.tour-rates-per-pax {
    margin-bottom: 30px;
    th {
        font-size: 10.2px;
        border: none;
        padding: 5px;
    }
    th:nth-child(1) {
        text-align: left;
        width: 30%;
    }
    th:nth-child(2) {
        text-align: right;
    }
    td:nth-child(1) {
        text-align: left;
    }
    td:nth-child(2) {
        text-align: right;
    }
}

tr.hover:hover>td {
    background-color: $darkGrey;
    font-weight: 500;
    color: white;
}

td {
    border-top: 1px $midGrey solid;
}

.tour-transport-bracket {
    font-weight: 500;
    padding-top: 15px;
    border: none;
}

.btn-book {
    position: relative;
    height: 50px;
    margin: 10px -30px 30px -30px;
}

button {
    @extend %centerPos;
    display: block;
    border: none;
    width: 100%;
    height: 50px;
    background-color: $gold;
    text-transform: uppercase;
    color: white;
}
.tour-notes {
    .tour-notes-labels {
        width: 30%;
    }
    .tour-notes-list>li {
        font-size: 10.2px;
    }
}
