$darkGrey: #58595b;
$midGrey: #d1d3d4;
$lightGrey: #f9f9f9;
$hoverGrey: #f1f2f2;
$gold: #b78c2e;
$purple: #9c88ff;
%dropShadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

%centerPos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}