@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-rendering: optimizeLegibility;
    // outline: 1px red solid;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@import 'variables';
@import 'font';
@import 'module';

html, body {
    overflow: auto;
    margin: 0 auto;
}

hr {
    border-top: 3px $gold solid;
    width: 80px;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 5px;
}

ul,
ol,
li, a {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    text-align: left;
    white-space: normal;
    padding: 2px 5px;
}

// combo box
select {
    width: 351px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-image: url('../img/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 95%, 50%;
    background-color: $lightGrey;
    padding-left: 10px;
    margin: 15px 0;
    padding-right: 45px;
    -webkit-appearance: none;
       -moz-appearance: none;
         -o-appearance: none;
    &::-ms-expand {
        display: none;
    }
    [disabled]{
        background-color: $darkGrey;
        font-size: 14px;
        color: white;

    }
}

// radio button
form{
    margin: 15px 0;
	position: relative;
	width: 352px;
	overflow: hidden;
    border-radius: 16px;
    background-color: $lightGrey;
}
label {
	position: relative;
	cursor: pointer;
	display: table;
	float: left;
	width: 25%;
	height: 35px;

}
input {
	position: absolute;
	-webkit-appearance: none;
	   -moz-appearance: none;
	     -o-appearance: none;
	&:checked + .category-label {
        background: $blue;
        color: white;
        font-weight: 600;
	}
}
.category-label {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}
