<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(href="../css/styles.css", rel="stylesheet")
    body
        .frame
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                span.highlight Earum,
                    span.toolTipCont
                        span.toolTipText Lorem ipsum dolor sit amet consectetur
                | odit fugit  qui rem cupiditate fuga nobis
                span.highlight reiciendis,
                    span.toolTipCont
                        span.toolTipText ratione ipsa in magnam non ab
                | inventore perferendis,
                span.highlight aspernatur
                    span.toolTipCont
                        span.toolTipText nulla veritatis. Quis.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.